version: "3.9"

services:
  mongo:
    container_name: mongo
    image: mongo:latest
    restart: unless-stopped
    volumes:
      - ./development/database:/data/db
    ports:
      - "27017:27017"
    networks:
      - devnet
    environment:
      - TZ=UTC

networks:
  devnet:
    driver: bridge

volumes:
  node_modules_data:
